@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");
body {
  background-color: #FFF;
  font-family: 'Montserrat', sans-serif;
  padding: 0;
  margin: 0;
}

#moon-icon {
  color: #4d4a4a;
}

.mgn-narrow {
  margin-right: 5vw;
  margin-left: 5vw;
}

.title-img {
  position: relative;
}

.title-img img {
  height: 100vh;
  width: 100vw;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 60% 50%;
     object-position: 60% 50%;
}

.title-img #title-text {
  position: absolute;
  color: white;
  top: 57%;
  left: 5vw;
}

.title-img #title-text i {
  color: white;
  font-size: 120%;
  margin-bottom: 15px;
}

.title-img #nav-links {
  margin-top: 30px;
}

#intro-quote {
  padding: 30px 20px;
}

#hobby {
  margin-top: 50px;
  margin-right: 5vw;
  margin-left: 5vw;
}

h2, p {
  padding: 0;
  margin: 0;
}

p {
  font-size: 90%;
}

.title {
  margin-top: 5vh;
}

#job-title {
  font-size: 150%;
}

.about-wrapper {
  margin: 20px 0;
  margin-right: 5vw;
  margin-left: 5vw;
}

.about-wrapper span {
  font-weight: 700;
}

.about-wrapper img {
  width: 200px;
  height: auto;
  border-radius: 100%;
  padding: 0 15vw;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.about-wrapper p {
  padding: 5px 0;
  opacity: 80%;
  line-height: 1.7;
}

.about-wrapper #about-content {
  padding: 20px 0;
}

#sub-title {
  font-weight: 600;
  color: #197bd6;
  margin: 15px 0;
}

.skills-wrapper {
  margin: 20px 0;
  margin-right: 5vw;
  margin-left: 5vw;
}

.skills-wrapper p {
  margin: 10px 0;
  font-weight: 500;
  font-size: 90%;
}

.skills-wrapper a {
  color: black;
  text-decoration: none;
  background: #f0f0f0;
  padding: 10px;
  font-size: 80%;
  font-weight: 500;
}

.project-wrapper {
  margin-top: 60px;
  margin-right: 5vw;
  margin-left: 5vw;
}

.project-wrapper .project-item {
  position: relative;
  padding-bottom: 50px;
}

.project-wrapper .project-item img {
  width: 90vw;
  height: 200px;
}

.project-wrapper .project-item .greyout {
  width: 90vw;
  height: 200px;
  background-color: black;
  position: absolute;
  top: 0;
  bottom: 0;
  opacity: 50%;
}

.project-wrapper .project-item h3 {
  position: absolute;
  top: 17%;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 150%;
}

.project-wrapper .project-item .project-desc {
  text-align: center;
  width: 80vw;
  padding: 10px 5vw;
}

.project-wrapper p:first-child {
  font-weight: 600;
}

.project-wrapper p:nth-child(2) {
  font-size: 80%;
  opacity: 80%;
  margin-top: 10px;
  width: 70%;
}

.project-wrapper .links {
  text-align: end;
}

.project-wrapper .links i {
  color: black;
  font-size: 150%;
  margin: 5px;
}

.project-wrapper .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.project-wrapper .link-out {
  padding: 10px;
  background-color: lightgrey;
  opacity: 70%;
  width: 100px;
  font-size: 70%;
  color: black;
  text-decoration: none;
}

.project-wrapper .link-out i {
  font-size: 120%;
  color: black;
  margin-left: 5px;
}

.connect-links {
  margin-top: 30px;
  padding-bottom: 100px;
  opacity: 80%;
  margin-right: 5vw;
  margin-left: 5vw;
}

.connect-links i {
  color: black;
  font-size: 120%;
  margin-right: 10px;
  color: black;
}

.connect-links a {
  text-decoration: none;
  color: black;
}

.graphic {
  height: 300px;
}

.graphic img {
  height: 200px;
  width: 200px;
  border-radius: 100%;
}

@media screen and (min-width: 1200px) {
  #title-text {
    font-size: 200%;
    left: 25% !important;
    top: 50% !important;
  }
  #title-text i {
    font-size: 80% !important;
  }
  #intro-quote {
    width: 35vw;
  }
  .main-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about-wrapper {
    width: 400px;
    margin: 0 !important;
    padding: 0 !important;
  }
  .about-wrapper img {
    width: 200px;
    height: 200px;
    padding: 0 !important;
  }
  .about-wrapper p {
    line-height: 2.2;
  }
  .skills-wrapper {
    width: 220px;
  }
  .skills-wrapper p {
    margin: 20px 0 !important;
  }
  .skills-wrapper p:last-child {
    margin-bottom: 100px;
  }
  .project-wrapper {
    text-align: center;
  }
  .project-wrapper .project-item {
    width: 350px !important;
    margin: 10px !important;
  }
  .project-wrapper .project-item img {
    width: 350px !important;
    height: 200px;
  }
  .project-wrapper .greyout {
    width: 350px !important;
  }
  .project-wrapper .project-desc {
    width: 310px !important;
    padding: 20px !important;
    margin: 0 !important;
  }
  .project-wrapper h3 {
    top: 17%;
    width: 100% !important;
    text-align: center;
    color: white;
    font-size: 150%;
  }
  .project-wrapper .project-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .top-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 50px;
  }
  #hobby {
    width: 35vw;
  }
}

@media screen and (min-width: 1600px) {
  .project-list {
    max-width: 75vw;
  }
}

.nightmode {
  background-color: #4d4a4a;
  color: white;
}

.nightmode #sub-title {
  color: white !important;
}

.nightmode .connect-links a, .nightmode .connect-links i {
  color: white;
}

.nightmode #moon-icon {
  color: white;
}

input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  text-indent: -9999px;
  width: 35px;
  height: 20px;
  background: #4d4a4a;
  display: block;
  border-radius: 100px;
  position: relative;
  border: 2px solid #4d4a4a;
}

label:after {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 15px;
  height: 16px;
  background: white;
  border-radius: 90px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

input:checked + label {
  background: #4d4a4a;
  border: 2px solid white;
}

input:checked + label:after {
  left: calc(100% - 5px);
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

#nightmode-toggle {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#nightmode-toggle i {
  font-size: 20px;
}
/*# sourceMappingURL=style.css.map */