@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');

$snd-color: #197bd6;

body {
    background-color: #FFF;
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
}

#moon-icon {
    color: #4d4a4a
}

.mgn-narrow {
    margin-right: 5vw;
    margin-left: 5vw;
}

.title-img {
    position: relative;
    img {
        height: 100vh;
        width: 100vw;
        object-fit: cover;
        object-position: 60% 50%;
    }
    #title-text {
        position: absolute;
        color: white;
        top: 57%;
        left: 5vw;
        i {
            color: white;
            font-size: 120%;
            margin-bottom: 15px;
        }
    }
    #nav-links {
        margin-top: 30px;
    }
}

#intro-quote {
    // text-align: center;
    padding: 30px 20px;
}

#hobby {
    margin-top: 50px;
    margin-right: 5vw;
    margin-left: 5vw;
}

h2, p {
    padding: 0;
    margin: 0;
}

p {
    font-size: 90%;
}

.title {
    margin-top: 5vh;
}

#job-title {
    font-size: 150%;
}

.about-wrapper {
    margin: 20px 0;
    margin-right: 5vw;
    margin-left: 5vw;
    span {
        font-weight: 700;
    }
    img {
        width: 200px;
        height: auto;
        border-radius: 100%;
        padding: 0 15vw;
        align-self: center;
    }
    p {
        padding: 5px 0;
        opacity: 80%;
        line-height: 1.7;
    }
    #about-content {
        padding: 20px 0;
        a {
            color: $snd-color;
            text-decoration: none;
            font-weight: 700;
        }
    }
}

#sub-title {
    font-weight: 600;
    color: $snd-color;
    margin: 15px 0;
}

.skills-wrapper {
    margin: 20px 0;
    margin-right: 5vw;
    margin-left: 5vw;
    p {
        margin: 10px 0;
        font-weight: 500;
        font-size: 90%;
    }
    a {
        color: black;
        text-decoration: none;
        background: #f0f0f0;
        padding: 10px;
        font-size: 80%;
        font-weight: 500;
    }
}

.project-wrapper {
    margin-top: 60px;
    margin-right: 5vw;
    margin-left: 5vw;
    .project-item {
        position: relative;
        padding-bottom: 50px;
       img {
           width: 90vw;
           height: 200px;
       }
       .greyout {
           width: 90vw;
           height: 200px;
           background-color: black;
           position: absolute;
           top: 0;
           bottom: 0;
           opacity: 50%;
       }
       h3 {
           position: absolute;
           top: 17%;
           width: 100%;
           text-align: center;
           color: white;
           font-size: 150%;
        }
        .project-desc {
            text-align: center;
            width: 80vw;
            padding: 10px 5vw;
        }
    }
    p {
        &:first-child {
            font-weight: 600;
        }
        &:nth-child(2) {
            font-size: 80%;
            opacity: 80%;
            margin-top: 10px;
            width: 70%;
        }
    }
    .links {
        text-align: end;
        i {
            color: black;
            font-size: 150%;
            margin: 5px;
        }
    }
    .footer {
        display: flex;
        justify-content: flex-end;
    }
    .link-out {
        padding: 10px;
        background-color: lightgrey;
        opacity: 70%;
        width: 100px;
        font-size: 70%;
        color: black;
        i {
            font-size: 120%;
            color: black;
            margin-left: 5px;
        }
        text-decoration: none;
    }
}

.connect-links {
    margin-top: 30px;
    padding-bottom: 100px;
    opacity: 80%;
    margin-right: 5vw;
    margin-left: 5vw;
    i {
        color: black;
        font-size: 120%;
        margin-right: 10px;
        color: black;
    }
    a {
        text-decoration: none;
        color: black;
    }
}

.graphic {
    // background-color: $snd-color;
    height: 300px;
    img {
        height: 200px;
        width: 200px;
        border-radius: 100%;
    }
}


#project-options {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    button {
        border: none;
        background-color: white;
        color: grey;
        // margin: 20px;
        list-style: none;
        font-weight: 500;
        font-size: 80%;
        padding: 5px 10px;
        cursor: pointer;
        &:focus {
            outline: none;
            background-color: #f0f0f0;
            // padding: 5px 10px;
        }
    }
}

@media screen and (min-width: 1200px) {

    #title-text {
        font-size: 200%;
        // margin-left: 20%;
        left: 25% !important;
        top: 50% !important;
        i {
            font-size: 80% !important;
        }
    }

    #intro-quote {
        width: 35vw;
    }

    .main-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .about-wrapper {
        width: 400px;
        margin: 0 !important;
        padding: 0 !important;
        img {
            width: 200px;
            height: 200px;
            padding: 0 !important;
        }
        p {
            line-height: 2.2;
        }
    }

    .skills-wrapper {
        width: 220px;
        // padding-top: 100px;
        p {
            margin: 20px 0 !important;
            &:last-child {
                margin-bottom: 100px;
            }
        }
    }

    .project-wrapper {
        text-align: center;
        .project-item {
            width: 350px !important;
            img {
                width: 350px !important;
                height: 200px;
            }
            margin: 10px !important;
        }
        .greyout {
            width: 350px !important;
        }
         .project-desc {
             width: 310px !important;
             padding: 20px !important;
             margin: 0 !important;
             
         }
         h3 {
            top: 17%;
            width: 100% !important;
            text-align: center;
            color: white;
            font-size: 150%;
         }
         .project-list {
             display: flex;
             flex-wrap: wrap;
             justify-content: center;
            //  max-width: 75vw;
         }
    }
    .top-row {
        display: flex;
        margin-top: 50px;
    }

    #hobby {
        width: 35vw;
    }

    #project-options {
        justify-content: center;
        button {
            margin: 20px;
        }
    }
    
  
}

@media screen and (min-width: 1600px) {
    .project-list {
        max-width: 75vw;
    }
}

.nightmode {
    background-color: #4d4a4a;
    color: white;
    #sub-title {
        color: white !important;
    }
    .connect-links {
        a, i {
            color: white;
        }
    }
    #moon-icon {
        color: white;
    }
    #project-options {
        button {
            background-color: #4d4a4a !important;
            color: white;
            &:focus {
                background-color: white !important;
                color: #4d4a4a
            }
        }
    }
}


input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

label {
	cursor: pointer;
	text-indent: -9999px;
	width: 35px;
	height: 20px;
	background: #4d4a4a;
	display: block;
	border-radius: 100px;
    position: relative;
    border: 2px solid #4d4a4a;
}

label:after {
	content: '';
	position: absolute;
	top: 2px;
	left: 2px;
	width: 15px;
	height: 16px;
	background: white;
    border-radius: 90px;
	transition: 0.3s;
}

input:checked + label {
    background: #4d4a4a;
    border: 2px solid white;
    
}

input:checked + label:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

label:active:after {
	// width: 130px;
}


#nightmode-toggle {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 10;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    i {
        font-size: 20px;
    }
}


#invisible {
    display: none;
}